{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex flex-wrap md:flex-no-wrap">
        <div class="w-full md:w-1/3 px-20 sm:px-32 md:px-0">
            {% include 'includes/map' %}
            {#<img src="/assets/img/map.jpg" class="w-full px-20 sm:px-32 md:px-0" alt="NZ Map" title="NZ Map" />#}
        </div>
        <div class="w-full md:w-2/3 md:pl-6">
            <p class="text-2xl leading-normal pb-12">
                {{ entry.introduction|nl2br }}
            </p>
            <p class="text-lg leading-normal pb-12">
                {{ entry.detail|nl2br }}
            </p>
        </div>
    </section>

    <section class="flex flex-wrap md:flex-no-wrap my-8">
        {% set updates = craft.entries.section('updates').limit(1) %}
        {% for update in updates.all() %}
            <div class="w-full md:w-2/3 md:pr-6">
                <h3 class="text-4xl">Latest update</h3>
                {% for hero in update.heroImageVideo.all() %}
                    {% if hero.type == "image" %}
                        {% set image = hero.images.one() %}
                        <img src="{{ image.getUrl('updates') }}" class="w-full pt-6" alt="{{ update.title }}" title="{{ update.title }}" />
                    {% elseif hero.type == "video" %}
                        {% set video = hero.video.one() %}
                        {% set embeddedAsset = craft.embeddedAssets.get(video) %}

                        <div class="video w-full my-8">
                            {{ embeddedAsset ? embeddedAsset.html }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="w-full md:w-1/3 md:mt-12">
                <h4 class="text-2xl py-5">{{ update.title }}</h4>
                <p class="text-lg leading-normal pb-6">
                    {{ update.introduction|nl2br }}
                </p>
                <a href="{{ update.url }}" class="text-lg text-blue no-underline hover:underline">Read more</a>
            </div>
        {% endfor %}
    </section>

    <section class="flex pb-12">
        <div class="w-full">
            <a href="/updates" class="text-2xl text-blue no-underline hover:underline">All updates</a>
        </div>
    </section>

    <section class="flex mt-12">
        <div class="hidden md:flex md:w-1/4">
        </div>
        <div class="w-full md:w-1/2">
            <h3 class="text-4xl pb-4">Contact Dside</h3>
            {% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors list-reset">
                        {% for error in errors %}
                            <li class="py-2 text-red">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            <form method="post" action="" accept-charset="UTF-8">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">
                {{ redirectInput('thanks') }}

                <label for="from-subject">Subject</label>
                <select name="message[Subject]" data-placeholder="Choose a subject..." id="from-subject" class="select w-full mt-2 mb-3">
                  {#<option value="——" selected="selected">Please select...</option>#}
                  <option value=""></option>
                  {% for value in entry.contactSubjects.all() %}
                    <option value="{{ value.contactTitle }}">{{ value.contactTitle }}</option>
                  {% endfor %}
                </select>

                <label for="from-name">Name</label>
                <input id="from-name" class="w-full border border-grey rounded-sm p-3 my-2" type="text" name="fromName" placeholder="Name" value="{{ message.fromName ?? '' }}">
                {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

                <label for="from-email">Email*</label>
                <input id="from-email" class="w-full border border-grey rounded-sm p-3 my-2" type="email" name="fromEmail" placeholder="Email" value="{{ message.fromEmail ?? '' }}">
                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

                <label for="message">Message*</label>
                <textarea rows="10" cols="40" id="message" class="w-full border border-grey rounded-sm p-3 my-2" placeholder="Message" name="message[body]">{{ message.message.body ?? '' }}</textarea>
                {{ message is defined and message ? errorList(message.getErrors('message')) }}

                <input type="submit" value="Send" class="bg-black text-white rounded-sm shadow py-3 px-6">
            </form>
        </div>
        <div class="hidden md:flex md:w-1/4">
        </div>
    </section>

{% endblock %}
