{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex flex-wrap md:flex-no-wrap my-8">
        <div class="w-full md:w-1/3">
        </div>
        <div class="w-full md:w-2/3 md:pl-6">
            <h2 class="text-4xl pb-6">..Thank you</h2>
            <p class="text-2xl leading-normal">
                {{ entry.introduction|nl2br }}
            </p>
        </div>
    </section>

{% endblock %}
