<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    {% hook "seo" %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />


    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    {# Cachebust the CSS/JS #}
    {% set assetVersion = 0.005 %}

    {# CSS #}
    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}
</head>
<body class="{{ entry is defined ? entry.title|lower : "plastic" }}-page text-black font-sans">
    <header class="flex flex-wrap md:flex-no-wrap items-end mx-8 sm:mx-8 w-auto py-8">
        <div class="w-full md:w-1/3">
            <h1><a href="{{ siteUrl }}"><img src="/assets/img/our-plastic.png" class="w-full max-w-xs" alt="{{ siteName }}" title="{{ siteName }}" /></a></h1>
        </div>
        <div class="w-full md:w-2/3 pt-4 md:pt-0 md:pl-6">
            <h2><img src="/assets/img/a-dside-project.png" class="w-full max-w-xs" alt="A Dside project" title="A Dside project"/></h2>
        </div>
    </header>
    <main class="mx-6 sm:mx-8 w-auto">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="mx-2 sm:mx-8 py-12 w-auto">
        <ul class="flex flex-wrap justify-center text-center list-reset pt-20">
            {% for link in links.links.all() %}
                <li class="flex-1 text-lg px-4">
                    <a href="{{ link.linkUrl }}" class="text-blue no-underline hover:underline" target="_blank" rel="noreferrer noopener">{{ link.linkTitle }}</a>
                </li>
            {% endfor %}
        </ul>
    </footer>

    {# JS #}
    {% do view.registerJsFile("/assets/js/jquery-3.3.1.min.js") %}
    {% do view.registerJsFile("/assets/js/chosen.jquery.min.js") %}
    {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}
</body>
</html>
