/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

.video{
    padding: 0 0 56.25%;
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
}

.video iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
}

.chosen-search{
    display: none;
}

.chosen-container{
    padding: .75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: .125rem;
    border: 1px solid #b8c2cc;
}

.chosen-container .chosen-results{
    padding: 0 1rem;
    list-style: none;
    line-height: 1.5;
}

.chosen-container.chosen-with-drop .chosen-results{
    display: block;
    padding: 1rem;
    list-style: none;
    line-height: 1.5;
}

.chosen-container .chosen-results{
    display: none;
}

.chosen-container.chosen-with-drop .chosen-results .active-result{
    cursor: pointer;
}

#location{
    transition: height .2s ease-in-out, width .2s ease-in-out;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0%, 100% {
        width: 20px;
        height: 20px;
    }
    50% {
        width: 16px;
        height: 16px;
    }
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
