{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex flex-wrap md:flex-no-wrap my-8">
        <div class="w-full md:w-1/3">
        </div>
        <div class="w-full md:w-2/3 md:pl-6">
            <h1 class="text-4xl pb-6">404</h1>
            <p class="text-2xl leading-normal">
                You're on the wrong coast
            </p>
        </div>
    </section>

{% endblock %}
