{% header "Content-Type: application/xml" %}
<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ siteName }}</title>
        <link>{{ siteUrl }}</link>
        <atom:link href="{{ craft.app.request.absoluteUrl }}" rel="self" type="application/rss+xml" />
        <description>{{ seomatic.meta.seoDescription }}</description>
        <language>en-us</language>
        <pubDate>{{ now|rss }}</pubDate>
        <lastBuildDate>{{ now|rss }}</lastBuildDate>

        {% for entry in craft.entries.section('updates').all() %}
            <item>
                <title>{{ entry.title }}</title>
                <link>{{ entry.url }}</link>
                <pubDate>{{ entry.postDate|rss }}</pubDate>
                <author>{{ entry.author }}</author>
                <guid>{{ entry.url }}</guid>
                {% for hero in update.heroImageVideo.all() %}
                    {% if hero.type == "image" %}
                        {% set image = hero.images.one() %}
                        <image>
                            <url>{{ siteUrl|slice(0,-1) }}{{ image.getUrl('updates') }}</url>
                            <title>{{ entry.title }}</title>
                            <link>{{ entry.url }}</link>
                        </image>
                        <img src="{{ image.getUrl('updates') }}" alt="{{ entry.title }}" title="{{ entry.title }}" />
                    {% endif %}
                {% endfor %}
                <description><![CDATA[
                    {{ entry.introduction|nl2br }}
                ]]></description>
                <a href="{{ entry.url }}">Read more</a>
            </item>
        {% endfor %}
    </channel>
</rss>
