{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex flex-wrap my-8">
            <div class="w-full md:w-2/3 md:pr-6">
                <h3 class="text-4xl">{{ entry.title }}</h3>
                {% for hero in entry.heroImageVideo.all() %}
                    {% if hero.type == "image" %}
                        {% set image = hero.image.one() %}
                        <img src="{{ image.getUrl('updates') }}" class="w-full" alt="{{ entry.title }}" title="{{ entry.title }}" />
                    {% elseif hero.type == "video" %}
                        {% set video = hero.video.one() %}
                        {% set embeddedAsset = craft.embeddedAssets.get(video) %}

                        <div class="video w-full my-8">
                            {{ embeddedAsset ? embeddedAsset.html }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="w-full md:w-1/3 md:mt-12">
                <p class="text-lg leading-normal pt-5">
                    {{ entry.introduction|nl2br }}
                </p>
            </div>
            <div class="w-full md:w-2/3 md:pr-6 md:mt-6">
                {{ entry.information|nl2br|retconAttr('a', { class: 'text-blue underline hover:no-underline', target: '_blank' })|retconAttr('ul, ol', { class: 'leading-normal pt-2 pb-6' })|retconAttr('p', { class: 'leading-normal' }) }}
            </div>
    </section>

{% endblock %}
