{% extends 'layouts/layout' %}

{% block content %}

    {% set updates = craft.entries.section('updates') %}
    {% for update in updates.all() %}
        <section class="flex flex-wrap md:flex-no-wrap my-8">
            <div class="w-full md:w-2/3 md:pr-6">
                <h3 class="text-4xl">{{ update.title }}</h3>
                {% for hero in update.heroImageVideo.all() %}
                    {% if hero.type == "image" %}
                        {% set image = hero.images.one() %}
                        <img src="{{ image.getUrl('updates') }}" class="w-full pt-6" alt="{{ update.title }}" title="{{ update.title }}" />
                    {% elseif hero.type == "video" %}
                        {% set video = hero.video.one() %}
                        {% set embeddedAsset = craft.embeddedAssets.get(video) %}

                        <div class="video w-full my-8">
                            {{ embeddedAsset ? embeddedAsset.html }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="w-full md:w-1/3 md:mt-12">
                <p class="text-lg leading-normal pt-5 pb-6">
                    {{ update.introduction|nl2br }}
                </p>
                <a href="{{ update.url }}" class="text-lg text-blue no-underline hover:underline">Read more</a>
            </div>
        </section>
    {% endfor %}

{% endblock %}
